@charset "utf-8";

:root {
    --mov-speed: 0.5s;
}

body {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    overflow: hidden;
}

.absolute {
    position: absolute;
}

/* --- Menu --- */

main, #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    border: 1px solid gray;
    width: 60em;
    height: 30em;
}

#menu {
    background-color: rgb(138, 172, 138);
    position: absolute;
    width: 45em;
    height: 22em;
    gap: 10px;
}

#menu > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

button {
    width: 6em;
    height: 2em;
    font-size: 30px;
}

/* --- Vitória --- */

#vitoria {
    background-color: rgb(239, 228, 169);
    text-align: center;
    width: 80%;
    height: 90%;
}

#vitoria > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(16, 111, 6);
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.514);
    margin-bottom: 1px;
}

#vitoria > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 1px
}

#gifs {
    display: flex;
    flex-direction: row;
}

#gifs > img {
    display: block;
    width: 14em;
    height: 14em;
    margin: auto;
}

#gifs > img:first-child {
    height: 10em;
}

#gifs::before {
    content: "voce e bom demas";
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 15em;
    height: 3em;
    transform: translate(1em, -1em);
    border: 5px solid black;
    border-bottom: none;
    border-radius: 40%;
    background-color: white;
}

/* --- Gameplay --- */

#gameplay {
    position: relative;
    width: 100%;
    height: 100%;
}

#bot {
    position: relative;
    top: 40%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#msg-box {
    left: 65%;
    max-width: 10em;
    font-family: Arial, Helvetica, sans-serif;
    hyphens: auto;
}

#copos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35em;
    margin: auto;
    transform: translateY(15em);
}

#copos-container::before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgb(94, 66, 34);
    width: 35em;
    height: 1em;
    transform: translateY(2.2em);
    z-index: 1;
}

.copo {
    background-image: url(../imgs/copo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 8em;
    height: 10em;
    position: relative;
    top: -.9em;
    scale: -1;
    transition: transform var(--mov-speed) ease-in-out;
}

.copo.show {
    top: -5em;
    transition: top 0.5s ease-in-out;
}

.copo.bolinha {
    animation: upCup 4s ease-in-out;
}

@keyframes upCup {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(3em);
    }

    95% {
        transform: translateY(3em);
    }
    
    100% {
        transform: translateY(0);
    }
}

.bola {
    position: relative;
    background-color: green;
    border-radius: 50%;
    opacity: 0;
    width: 2em;
    height: 2em;
    top: 2.4em;
    left: 3em;
    z-index: -3;
}

.copo.bolinha .bola {
    animation: upBall 4s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes upBall {
    0% {
        transform: translateY(0);
    }

    2% {
        opacity: 1;
    }

    5% {
        transform: translateY(-3em);
    }

    95% {
        transform: translateY(-3em);
        opacity: 1;
    }
    
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

#mao-esquerda {
    scale: -1 1;
    transform: translate(-7em, -12em);
    transition: left var(--mov-speed) ease-in-out , bottom var(--mov-speed) ease-in-out ;
}

:is(#mao-esquerda, #mao-direita).grab {
    content: url(../imgs/mao_segurando.png);
    width: 6em;
    height: 6em;
}

.copo.canSelect:hover {
    background-color: gray;
    cursor: pointer;
}

#rosto.rosto-rindo {
    content: url(../imgs/rosto_rindo.png);
}

#rosto.rosto-rindo + #mao-direita {
    content: url(../imgs/mao_negativo.png);
    width: 6em;
    height: 6em;
}

#rosto.rosto-rindo ~ #mao-esquerda {
    opacity: 0;
}

/* --- Introduçao --- */

#rosto {
    content: url(../imgs/rosto_lingua.png);
    display: block;
    width: 7em;
    height: 7em;
}

#mao-direita {
    content: url(../imgs/mao_acenando.png);
    display: block;
    width: 6em;
    height: 6em;
    transform: translate(-8em, -12em);
    transition: left var(--mov-speed) ease-in-out , bottom var(--mov-speed) ease-in-out ;
}

#mao-direita.acenando {
    animation: acenar 0.8s ease-in-out infinite;
}

@keyframes acenar {
    0% {
        rotate: -30deg;
    }

    50% {
        rotate: 30deg;
    }

    100% {
        rotate: -30deg;
    }
}

/* --- Frase 1 --- */

#rosto.rosto-lingua2 {
    content: url(../imgs/rosto_lingua2.png);
    animation: rotacao-leve 1.4s ease-in-out infinite;
}

#mao-direita.mao-v {
    content: url(../imgs/mao_V.png);
    width: 8em;
    height: 8em;
    animation: rotacao-leve 1.4s ease-in-out infinite;
}

@keyframes rotacao-leve {
    0% {
        rotate: -5deg;
    }

    50% {
        rotate: 5deg;
    }

    100% {
        rotate: -5deg;
    }
}

/* --- Frase 2 --- */

#rosto.rosto-feliz {
    content: url(../imgs/rosto_feliz.png);
}

:is(#mao-direita, #mao-esquerda).mao-aberta {
    content: url(../imgs/mao_aberta.png);
    width: 8em;
    height: 8em;
}

/* --- Parte 2 --- */

#rosto.rosto-assustado {
    content: url(../imgs/rosto_assustado.png);
}

/* --- Frase 1 --- */
#rosto.rosto-emburrecido {
    content: url(../imgs/rosto_emburrecido.png);
}

#rosto.rosto-desconfiado {
    content: url(../imgs/rosto_desconfiado.png);
}

#mao-direita.mao-palmas {
    content: url(../imgs/mao_palmas.png);
}

#rosto.rosto-enfurecido {
    content: url(../imgs/rosto_enfurecido.png);
}

/* --- Parte 3 --- */

#rosto.rosto-bravo {
    content: url(../imgs/rosto_bravo.png);
}

#rosto.rosto-tremulo {
    animation: raiva 0.35s linear infinite;
}

@keyframes raiva {
    0% {transform: translate(-2px, 4px);}

    15% {transform: translate(5px, 2px);}

    35% {transform: translate(2px, -3px);}

    45% {transform: translate(1px, 4px);}

    55% {transform: translate(4px, -2px);}

    75% {transform: translate(1px, 9px);}

    85% {transform: translate(2px, -1px);}

    100% {transform: translate(-2px, 4px);}
}