@charset "utf-8";

:root {
    --mov-speed: 0.5s;
}

body {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    overflow: hidden;
}

.absolute {
    position: absolute;
}

/* --- Menu --- */

main, #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    border: 1px solid gray;
    width: 60em;
    height: 30em;
}

#menu {
    background-color: rgb(138, 172, 138);
    position: absolute;
    width: 45em;
    height: 22em;
    gap: 10px;
}

#menu > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

button {
    width: 6em;
    height: 2em;
    font-size: 30px;
}

/* --- Gameplay --- */

#gameplay {
    position: relative;
    width: 100%;
    height: 100%;
}

#bot {
    position: relative;
    top: 40%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#msg-box {
    left: 65%;
    max-width: 10em;
    font-family: Arial, Helvetica, sans-serif;
    hyphens: auto;
}

#copos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35em;
    margin: auto;
    transform: translateY(15em);
}

#copos-container::before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgb(94, 66, 34);
    width: 35em;
    height: 1em;
    transform: translateY(2.2em);
    z-index: 1;
}

.copo {
    background-image: url(../imgs/copo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 8em;
    height: 10em;
    position: relative;
    top: -.9em;
    scale: -1;
}

.copo.bolinha {
    animation: upCup 4s ease-in-out;
}

@keyframes upCup {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(3em);
    }

    95% {
        transform: translateY(3em);
    }
    
    100% {
        transform: translateY(0);
    }
}

.copo.bolinha .bola {
    position: relative;
    background-color: green;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    top: 2.4em;
    left: 3em;
    z-index: -3;
    animation: upBall 4s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes upBall {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(-3em);
    }

    95% {
        transform: translateY(-3em);
        opacity: 1;
    }
    
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

#mao-esquerda {
    scale: -1 1;
    transform: translate(-7em, -12em);
    transition: left var(--mov-speed) ease-in-out , bottom var(--mov-speed) ease-in-out ;
}

:is(#mao-esquerda, #mao-direita).grab {
    content: url(../imgs/mao_segurando.png);
    width: 6em;
    height: 6em;
}

.copo.grab {
    transition: all var(--mov-speed) ease-in-out;
}

/* --- Introduçao --- */

#rosto {
    content: url(../imgs/rosto_lingua.png);
    display: block;
    width: 7em;
    height: 7em;
    background-color: red;
}

#mao-direita {
    content: url(../imgs/mao_acenando.png);
    display: block;
    width: 6em;
    height: 6em;
    transform: translate(-8em, -12em);
    transition: left var(--mov-speed) ease-in-out , bottom var(--mov-speed) ease-in-out ;
}

#mao-direita.acenando {
    animation: acenar 0.8s ease-in-out infinite;
}

@keyframes acenar {
    0% {
        rotate: -30deg;
    }

    50% {
        rotate: 30deg;
    }

    100% {
        rotate: -30deg;
    }
}

/* --- Frase 1 --- */

#rosto.rosto-lingua2 {
    content: url(../imgs/rosto_lingua2.png);
    animation: rotacao-leve 1.4s ease-in-out infinite;
}

#mao-direita.mao-v {
    content: url(../imgs/mao_V.png);
    width: 8em;
    height: 8em;
    animation: rotacao-leve 1.4s ease-in-out infinite;
}

@keyframes rotacao-leve {
    0% {
        rotate: -5deg;
    }

    50% {
        rotate: 5deg;
    }

    100% {
        rotate: -5deg;
    }
}

/* --- Frase 2 --- */

#rosto.rosto-feliz {
    content: url(../imgs/rosto_feliz.png);
}

:is(#mao-direita, #mao-esquerda).mao-aberta {
    content: url(../imgs/mao_aberta.png);
    width: 8em;
    height: 8em;
}